<link rel="stylesheet" type="text/css" href="css/main.css">

<script src="https://www.youtube.com/iframe_api"/>
<script>
	$(document).ready(function(){
	    $('.searchButtonContainer button').hover(function(){
	    	$(this).css('transition', "0.25s");
			$(this).css('-webkit-transform', 'translateY(-2px)');
			$(this).css('box-shadow', '0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)');
		
	        }, function(){
	        	$(this).css('-webkit-transform', 'translateY(0px)');
				$(this).css('box-shadow', '0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)');
	    });
	    
	    $(window).scroll(function(){
    	  $('.sideBarContainer').css('left',-$(window).scrollLeft());
    	  $('.searchButtonContainer').css('left', -$(window).scrollLeft());
    	});
	});
</script>



<div class="mainContainer">
	<div class="sideBarContainer">
		<div class="criteriaContainer" ng-controller="criteriaController">
			<span class="criteria">Criteria</span> 
				<select ng-model="criteria" ng-change="chooseCriteria(criteria)">
				<option value="views" ng-selected="true">Most Viewed</option>
				<option value="popular">Most Popular</option>
			</select>
		</div>

		<div class="categoriesContainer" ng-controller="checkboxController">
			<span class="titles">Category</span>
			<div class="categoryItem">
				<input type="checkbox" value="All" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">All</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="2" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Autos
					&amp; Vehicles</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="23" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Comedy</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="27" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Education</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="1" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Film
					&amp; Animation</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="20" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Gaming</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="26" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">How-to
					&amp; Style</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="10" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Music</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="25" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">News
					&amp; Politics</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="29" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Non-profits
					&amp; Activism</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="22" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">People
					&amp; Blogs</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="15" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Pets
					&amp; Animals</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="28" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Science
					&amp; Technology</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="17" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Sports</span>
			</div>
			<div class="categoryItem">
				<input type="checkbox" value="19" class="checkbox"
					ng-click='toggleSelection($event)'> <span class="labels">Travel
					&amp; Events</span>
			</div>


			<div class="textInput" ng-controller="keywordController">
				<input id="textInput" type="text" placeholder="Keyword"
					ng-keyup="setKeyword($event)"> <span class="highlight"></span>
				<span class="bar"></span>
			</div>

		</div>

		<div class="displayContainer" ng-controller="maxResultsController">
			<span># Results</span> 
				<select ng-model="maxResults" ng-change="getMaxResults(maxResults)">
				<option value="5" ng-selected="true">5</option>
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
			</select>
		</div>
	</div>

	<div class="searchButtonContainer" ng-controller="searchController">
		<button type="button" ng-click="startSearch()">
			<span class="glyphicon glyphicon-play"></span>
		</button>
	</div>

	<div class="searchResultsContainer" ng-controller="displayResultsController">
		<div id="progressBar">
			<svg class="spinner" width="70px" height="70px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30">
				</circle>
			</svg>
		</div>
 		<div class="resultsContainerTitle">Search Results</div>
		<div class="leftColumn">
			<div class="resultItem" ng-repeat="resultItem in searchResults">
				<div class="index">{{searchResults.indexOf(resultItem) + 1}}.</div>
				<!-- <img id="player" src="{{resultItem.snippet.thumbnails.medium.url}}" /> -->
				<iframe ng-controller="iframeController" id="player" type="text/html" 
  					ng-src={{getIframeSrc(resultItem.id)}}
					frameborder="0"
					allowfullscreen></iframe>
				<div class="resultItemInfo">
					<div class="resultItemTitle">{{resultItem.snippet.title}}</div>
					<div class="resultItemChannel">{{resultItem.snippet.channelTitle}}</div>
					<div class="resultItemViewCount">{{resultItem.viewCount | number}} views</div>
				</div>
			</div>
		</div>
	</div>
</div>